@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

:root{
    --main-color: #c39bc3;
    --dark-main-color: #b05bb0;
    --background-color: #fff7f1;
    --cosmetic-color: #620d62;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', arial;
}

body{
    background-color: var(--background-color);
    width: 100%;
    min-height: 100vh;
}


/* --------------------common---------------------------------------- */

.main-color{
    color: var(--main-color);
}

.main-bg{
    background-color: var(--main-color);
}

.dark-main{
    color: var(--dark-main-color);
}

.dark-bg{
    background-color: var(--dark-main-color);
}

.bg-color{
    background-color: var(--background-color);
}


.icons-bg{
    background-color: #a47f6f;
}

.goldenStar{
    color: #f6bb06;
}

.blogText{
   color: #d25239;
}


.topPadding{
    padding-top: 60px;
}

.uniformPadding{
    padding: 80px 0;
}

.sectionHeading{
    font-size: 40px;
}










/* --------------------common end------------------------------------- */




/* ---------------------------fixed Whatsapp---------------------- */

.whatsappFixed{
    position: fixed;
    bottom: 30px;
    left: 30px;
}


/* ---------------------------fixed Whatsapp-end--------------------- */





/* ---------------------------------------------------------------contactDetails/top---------------------------------------------------- */


.contactInfo{
    padding: 8px 30px;
}
.borderBottom{
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.316);
}

.personalDetails{
    
    gap: 50px;
}

.personalDetails a{
    font-size: 14px;
    padding: 5px 0;
}
.socialMedia{
    gap: 6px;
}
.socialMedia a{
    height: 26px;
    width: 26px;
    padding: 2px;
}

.socialMedia a img{
    height: 13px;
    width: 13px;
}



/* ---------------------------------------------------------------contactDetails/top-end------------------------------------------------- */




/* -----------------------------------------------------------upper Menu--------------------------------------------------------- */


header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.upperMenu .logo img{
    height: 70px;
    width: 100px;
}

.upperMenu{
    padding: 0px 30px;
}

.upperMenuItems {
gap: 30px;
}

.upperMenuItems a{
font-weight: 600;
font-size: 16px;
}



/* -----------------------------------------------------------upper Menu-end---------------------------------------------------- */




/* ------------------------------------------lowerMenu ------------------------------------------------------------------------- */



.lowerMenu .lowerMenuItems a{
    font-weight: 600;
    padding: 15px 25px;
    display: inline-block;
    font-size: 14px;
}

.lowerMenu .lowerMenuItems:hover .lowerMenuDropdown{
display: block;
}

.lowerMenuItems .lowerMenuDropdown a {
    line-height: 1.2;
}


.lowerMenuDropdown{
    display: none;
    position: absolute;
    box-shadow: 0px 3px 1px 1px #00000026;
    width:200px;
    padding-top: 10px;
    background-color: var(--background-color);
}



/* ------------------------------------------lowerMenu end------------------------------------------------------------------------- */


/* --------------------------------------------Hero Section----------------------------------------------------------------------- */

.heroSection{
    border-bottom: 5px solid var(--dark-main-color);
}

.heroSectionHeading p{
    font-family: 'Charm', Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    width: 80%;
}

.doctorName{
    padding-top:0px ;
    font-size: 25px;
    font-weight: bold;
    color: var(--dark-main-color);
}

.certified{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-weight: bold;
}

.featuresList ul{
    padding-left: 0;
}

.featuresList ul li{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    padding-bottom: 10px;
    list-style: none;
}

.featuresList ul li::before {
    content: '✔'; 
    margin-right: 10px; /* Spacing between marker and text */
    color: var(--main-color);
    font-size: 36px;
    display: inline-block;
    
  }

  /* .heroBox1{
    margin-top: 50px;
  } */

  .heroBox2 img{
    height: 100%;
    width: 100%;
    object-fit: fill;
  }






/* --------------------------------------------Hero Section-end-------------------------------------------------------------------- */



/* --------------------------------------------Consult Section-------------------------------------------------------------------- */


.outerConsultSection{
    /* height: 400px; */
    background-color: white;
}

.consultBtn{
    font-weight: bold;
    flex: 1;
}

.consultForm a{
    font-size: 12px;
    padding: 15px 45px;
    background-color: black;
    color: white;
    letter-spacing:2px;
}

.consultForm{
    flex: 4;
}

.consultForm input{
    height: 60px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

.consultForm .consultFormInputs{
    gap: 30px;
}

.consultForm .consultFormInputs .consultFormInput{
    width: 100%;
}

.mobileNumber{
    padding-top: 50px;
}


/* --------------------------------------------Consult Section-end-------------------------------------------------------------------- */





/* --------------------------------------------Popular Section-------------------------------------------------------------------- */


.outerPopularSection{
    background-color: var(--background-color);
}

.popularSection{
width: 100%;
}

.sectionTitle .service{
    font-size: 13px;
    letter-spacing: 2px;
    color: var(--dark-main-color);
    font-weight: 600;
}

.popularProcetures{
    font-weight: bold;
}

.imagesSection{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    gap: 26px;
}
.imagesSection img{
    height: 360px;
    width: 100%;
    object-fit: cover;
}

.imagesSection .popularSectionImage{
overflow: hidden;
}

.imagesSection .imagesDetails img{
    transition: 350ms;
}

.imagesSection .imagesDetails img:hover{
    transform: scale(1.1);
    transition: 350ms;
}





/* --------------------------------------------Popular Section-end-------------------------------------------------------------------- */



/* --------------------------------------------Cosmetic Section-------------------------------------------------------------------- */


.cosmeticSurgery{
    display: flex;
    /* min-height: 700px; */
}
.cosmeticBox1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cosmeticBox1 img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.cosmeticBox2{
    flex: 1;
    background-color: var(--cosmetic-color);
}

.cosmeticPara{
    width: 95%;
}

.cosmeticSurgeryListItems{
    letter-spacing: 2px;
}



/* --------------------------------------------Cosmetic Section-end-------------------------------------------------------------------- */




/* ---------------------------------------------treatment-Slider----------------------------------------------------------------------- */

.treatmentCarousel, .outerTreatmentContainer{
    background-color: white;
}



.treatmentSliderItem{
    width: 250px;
    height: 320px;
    display: inline-block;
}

.treatmentSliderItem a{
    margin-top: 24px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.treatmentSliderItem a::before{
    content: "";
    background-color: var(--dark-main-color);
    height: 2px;
    width: 80px;
    position: absolute;
    bottom: -20px;
    left: 80px;
}




/* ---------------------------------------------treatment-Slider-end-------------------------------------------------------------------- */




/* -------------------------------------------------About Us------------------------------------------------------------------------------ */


.aboutUs .aboutPara1{
    /* width: 80%; */
    text-align: center;
    margin: auto;
    font-weight: 600;
    text-transform: capitalize;
}

.aboutPara2{
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.aboutPara2 span{
    color: var(--dark-main-color);
}

.readMore{
    margin-top: 20px;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 12px 35px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--dark-main-color);
}



/* -------------------------------------------------About Us-end--------------------------------------------------------------------------- */



/* ----------------------------------------------------Before and After Section------------------------------------------------------------ */

.beforeAndAfterContainer{
    text-align: center;
    padding-bottom: 50px;
}

.beforeAndAfterContainer .para1{
    font-size: 13px;
    color: var(--dark-main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.beforeAndAfterContainer .para2{
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
}

.beforeAfterImages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.imageContainer{
    height: 400px;
    padding-top: 50px;
}

.beforeAfterBtn{
    background-color: var(--dark-main-color);
    color: white;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
}





/* ----------------------------------------------------Before and After Section-end--------------------------------------------------------- */



/* ----------------------------------------------------Ultimate Section--------------------------------------------------------- */


.ultimateContainer{
    
    gap: 20px;
    min-height: 800px;
    padding: 0;
}

.ultimateBox1{
    flex: 1;
    background-color: var(--cosmetic-color);
    padding: 100px 50px;
}

.ultimateBox1 .ultimatePara1{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;  
}

.ultimateBox1 .ultimatePara2{
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bold;  
}

.ultimateBox1 .ultimatePara3{
    line-height: 1.8;
}

.achievementIcon{
    height: 40px;
    width: 40px;
}

.ultimateBox2{
    flex: 1;
}

.ultimateBox2 iframe{
    height: 394px;
    width: 100%;
}

/* ----------------------------------------------------Ultimate Section-end--------------------------------------------------------- */




/* ----------------------------------------------------Testimonial Section--------------------------------------------------------- */


.testimonialSection{
    height: 600px;
    padding: 100px 0;
}

.testimonialSection .para1{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
}

.reviews .reviewBox1{
width: 20%;
}
.reviewBox1 .para4 img{
    height: 35px;
    width: 110px;
    margin: auto;
}

.reviews .reviewBox2{
width: 80%;
}


.reviewSliderItem{
    height: 230px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.09);
}

.reviewSliderOuter{
    margin: 0 8px !important;
}

.profileDetails .profileImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: green;
}
.profileDetails .googleLogo{
    height: 25px;
    width: 25px;
}

.profileDetail .name .username{
    font-size: 14px;
    font-weight: 600;
}

.profileDetail .name .time{
    font-size: 12px;
    color: gray;
}

.reviewDetail{
    font-size: 14px;
    width: 90%;
}

.reviewSliderItem:hover{
    transform: translateY(-10px);
    transition: 350ms;
}

.slick-slide{
    margin: 0 12px !important;
}





/* ----------------------------------------------------Testimonial Section-end--------------------------------------------------------- */



/* ----------------------------------------------------Blog Section--------------------------------------------------------- */

.outerBlogSection{
    background: url('../assets/images/blogBg.jpg');
    background-size: cover;
    padding: 0;
}
.blogOverlay{
    background-color: rgba(32, 31, 31, 0.445);
}

.blogGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    gap:50px;
}

.blogGridItem p{
    line-height: 1.2;
}

.blogReadMore{
    font-size: 13px;
}



/* ----------------------------------------------------Blog Section-end--------------------------------------------------------- */



/* ----------------------------------------------------Footer Section-end--------------------------------------------------------- */

.footer{
    background-color: #2c2c2c;
    padding-top: 80px;
    padding-bottom: 20px;
}

.footerBox1 .footerLogo{
    height: 105px;
    width: 150px;
}
.footerBox1 p{
    width: 40%;
}

.FooterSocialMedia a{
    height: 40px;
    width: 40px;
    padding: 2px;
}

.FooterSocialMedia a img{
    height: 20px;
    width: 20px;
}

.footerBox2{
    gap: 100px;
}

.footerBox21{
    width: 200px;
}

.footerBox22{
    width: 250px;
}



/* ----------------------------------------------------Footer Section-end--------------------------------------------------------- */



/* -----------------------menu------------------------------------------- */


.secondMobileMenu{
    position: absolute;
    width: 80%;
    height: 450px;
    background-color: white;
    top: 110px;
    display: none;
}


.mobileMenuItems{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.279);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
}







/* ------------------------------------------------For Mobile----------------------------------------------------------------------- */


@media screen and (max-width:768px) {
   


    
.sectionHeading{
    font-size: 30px;
}

 

    .innerMobileMenu{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 70%;
        text-align: end;
    }

    .innerMobileMenu ul li{
        padding-bottom: 20px;
    }
    .innerMobileMenu ul li a{
        font-size: 14px;
    }

    .lowerMobileMenu{
        height: 40px;
        position: relative;
        z-index: 4;
    }

   
    .secondMenuListItem a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }


    .outerConsultSection{
        min-height: 600px;
        background-color: white;
    }

    .consultSection{
        padding: 30px 16px;
    }

    .imagesSection{
        display: grid;
        grid-template-columns:  1fr;
        gap: 26px;
    }
    .imagesSection img{
        height: 400px;
        width: 100%;
        object-fit: fill;
    }

    .popularProcetures {
        font-size: 24px;
    }

    .outerPopularSection{
        padding: 50px 20px;
    }

    .popularSection{
        padding: 0;
    }

    .treatmentSliderItem{
        width: 100%;
        height: 320px;
    }

    .treatmentSliderItem img{
        margin: auto;
    }

    .treatmentSliderItem a::before {
        content: "";
        background-color: var(--dark-main-color);
        height: 2px;
        width: 80px;
        position: absolute;
        bottom: -20px;
        left: 35%;
    }

    .beforeAndAfterContainer .para2{
        font-size: 30px;
        width: 100%;
    }

    .beforeAfterImages{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .imageContainer , .BtnContainer{
        height: 500px;
        padding-top: 20px;
    }
    .BtnContainer{
        height: 600px;
        padding-top: 20px;
    }

    .imageContainer img , .BtnContainer img{
        height: 500px;
        padding-top: 20px;
        object-fit: fill;
    }

    .blogGrid{
        display: grid;
        grid-template-columns: 1fr;
        gap:24px ;
    }

    .blogSection {
        padding: 50px 0;
    }

    .ultimateBox1{
        padding: 50px 20px;
    }

    .ultimateBox1 .ultimatePara2 {
        font-size: 30px;
    }

    .ultimateBox2 iframe{
        width: 100%;
        height: 300px;
        padding: 20px;
    }

    .reviews .reviewBox1 {
        width: 100%;
    }
    .reviews .reviewBox2 {
        width: 100%;
        padding: 20px;
    }
    .reviewSliderItem {
        height: 230px;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.09);
    }

    .footerBox1 p {
        width: 100%;
    }

    .footerBox22{
        width: 100%;
    }
}